html {
  font-size: 15px;
}

@font-face {
  font-family: Century Gothic;
  src: url("../Fonts/Century Gothic Regular.ttf") format("TrueType");
}

@font-face {
  font-family: Century Gothic;
  src: url("../Fonts/Century Gothic Bold.ttf") format("TrueType");
  font-weight: 700;
}

body {
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 93.7rem;
}

.page {
  width: 100%;
  max-width: 93.6rem;
}

.top {
  width: 100%;
  max-width: 93.7rem;
  min-height: 48.6rem;
  background: #fff url("../images/contain_small_01.jpg") no-repeat center;
  background-size: cover;
}

/* Header
==========*/
.header {
  display: flex;
  width: 100%;
  padding: 4rem 0;
  justify-content: space-between;
  position: relative;
}

.header-link {
  display: block;
}

.header-link:nth-child(1) {
  position: absolute;
  top: 33%;
  left: 3%;
}

.header-link:nth-child(2) {
  position: absolute;
  top: 33%;
  left: 6%;
}

.header-link:nth-child(3) {
  position: absolute;
  top: 33%;
  left: 9%;
}

.header-links {
  display: inline;
  padding-left: 10%;
}

/* Navigation
==========*/
.nav-left {
  padding-right: 5%;
}

.nav-right {
  padding-left: 5%;
}

.nav-link {
  display: inline-block;
  padding-right: 2.5rem;
  font-size: 1.1rem;
  font-family: Century Gothic;
  text-decoration: none;
  color: #fff;
}

.logo {
  position: absolute;
  top: 15%;
  left: 45.5%;
}

.form {
  display: block;
  margin: 0 5% 0 0;
}

.top-text {
  display: block;
  font-family: Century Gothic;
}

.top-text > h2 {
  margin: 9% auto 4rem;
  position: relative;
  text-align: center;
  padding-left: 2%;
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
}

.top-text > h2:after {
  content: "";
  height: 0.1rem;
  width: 3.8rem;
  background-color: #fff;
  position: absolute;
  bottom: -60%;
  right: 47%;
}

.top-text > h4 {
  display: block;
  margin: 0 auto 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.top-text-btn {
  display: block;
  margin: 0 42%;
  width: 100%;
  max-width: 15.8rem;
  height: 3.3rem;
  border-radius: 1.6rem;
  border: 0;
  font-family: inherit;
  font-size: 1.3rem;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.top-text-btn:hover {
  background-color: #417936;
}

.top-text-btn:active {
  background-color: #44d427;
}

/* Slider
==========*/
.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 40%;
  top: 0;
  text-align: center;
  width: 100%;
  padding-right: 30%;
  transform: rotate(90deg);
}

.switch label {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  cursor: pointer;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 0.1rem solid #fff;
}

.switch label:hover {
  background-color: #fff;
}

#btn1:checked ~ .switch label[for="btn1"] {
  background-color: white;
}

#btn2:checked ~ .switch label[for="btn2"] {
  background-color: white;
}

#btn3:checked ~ .switch label[for="btn3"] {
  background-color: white;
}

/*Main
==========*/
/*Firstblock
==========*/
.firstblock {
  display: flex;
  margin-top: 3.1rem;
}

.firstblock-img {
  margin-left: 8.2rem;
}

.firstblock-text {
  max-width: 33.2rem;
  margin-left: 6.5rem;
  margin-right: 8.3rem;
  font-family: Century Gothic;
}

.firstblock-text > p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #656565;
}

.firstblock-text-title {
  margin-top: 4rem;
  margin-bottom: 3.3rem;
  font-size: 2rem;
  color: #000;
  line-height: 3.2rem;
}

.firstblock-text-title > span {
  font-size: 3.5rem;
  font-weight: 700;
}

.firstblock-btn {
  display: block;
  margin-top: 1rem;
  width: 100%;
  max-width: 15.8rem;
  height: 3.3rem;
  border-radius: 1.6rem;
  border: 0;
  font-family: inherit;
  font-size: 1.3rem;
  color: #fff;
  background-color: #7a7a78;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.firstblock-btn:hover {
  background-color: #417936;
}

.firstblock-btn:active {
  background-color: #44d427;
}

/*Secondblock
==========*/
.secondblock {
  display: flex;
  margin-top: 3.1rem;
}

.secondblock-img {
  margin-left: 8.2rem;
}

.secondblock-text {
  max-width: 33.2rem;
  margin-left: 8.2rem;
  font-family: Century Gothic;
}

.secondblock-text > p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #656565;
}

.secondblock-text-title {
  margin-top: 4rem;
  margin-bottom: 3.3rem;
  font-size: 2rem;
  color: #000;
  line-height: 3.2rem;
}

.secondblock-text-title > span {
  font-size: 3.5rem;
  font-weight: 700;
}

.secondblock-btn {
  display: block;
  margin-top: 1rem;
  width: 100%;
  max-width: 15.8rem;
  height: 3.3rem;
  border-radius: 1.6rem;
  border: 0;
  font-family: inherit;
  font-size: 1.3rem;
  color: #fff;
  background-color: #7a7a78;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.secondblock-btn:hover {
  background-color: #417936;
}

.secondblock-btn:active {
  background-color: #44d427;
}
