html {
  font-size: 15px;
}

body {
  background-color: #34c6cd;
  font-family: sans-serif;
  box-sizing: content-box;
}

.container {
  margin: 0 auto;
  padding-top: 3.3rem;
}

.important {
  font-weight: bold;
  color: #a40e11;
}

.todo_list {
  max-width: 33.3rem;
  display: block;
  margin: 0 auto 3.3rem;
  background-color: #ff9840;
  padding: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0 0.3rem 0.8rem 0 #064274;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.3rem;
  color: #fff;
  font-size: 2rem;
}

.create_new_todo {
  text-align: center;
}

input[text="type"] {
  width: 25rem;
  padding: 0.6rem;
}

button {
  margin-top: 0.6rem;
  width: 26.6rem;
  padding: 0.6rem;
  cursor: pointer;
}

.todo {
  padding-left: 0;
}

.todo > li {
  padding: 1em;
  list-style-type: none;
}

.todo:not(:last-child) {
  border-bottom: 0.1rem solid #000;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

input[type="checkbox"],
label {
  display: inline-block;
  vertical-align: middle;
  margin: 0.33rem;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  background: #ff9840;
}
